
.about{
    margin: 2rem;
}

.about-container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(30rem, 1fr));
    gap:1rem
}

.img-container{
margin: auto;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 530px) {
    .about-container {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); 
      gap: 0.5rem; 
    }
    .img-container {
      margin: 0; 
    }
  }


.about-container p{
    color: rgb(54, 53, 54);
    font-size: 20px;
    font-weight: 600;
}

.element{
    margin-bottom: 2rem;
    text-align:center;
}


.titulo{
    color:chocolate;

}

