body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: rgba(54, 91, 115, 0.5);
}

header {
    background-color: transparent;
    color: #DFEBF2;
    padding: 0.625em 1.25em; /* 10px 20px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fijar el header en la parte superior */
    width: 100%; /* Ancho completo del header */
    z-index: 1000; /* Asegura que esté arriba de otros elementos */
    transition: background-color 0.3s ease-in-out;
  }

#main-header.scrolled {
    background-color: #023059;
    nav .nav-links a {
      color: #F29F05;
    }
    
}

.logo img {
    max-width: 9.375em; /*150px*/
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;  
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .nav-links li {
    margin: 0;
}

nav .nav-links a {
    color: #023059;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

nav .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #F29F05;
}

nav .close-btn {
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 10px;
    background-color: transparent;
}

@media (max-width: 796px) {
    nav .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 200px;
        background-color: #F29F05;
        padding: 20px 10px;
        border-left: 1px solid #444;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    nav .nav-links.active {
        display: flex;
    }

    nav .nav-links li {
        margin-bottom: 20px;
    }

    nav .nav-links a {
      color: #fff;
      /* padding-top: 100%; */
    }
      

    nav .nav-links li:last-child {
        margin-bottom: 0;
    }

    nav .hamburger {
        display: flex;
        z-index: 2;
    }

    nav .hamburger.active {
        display: none;
    }

    nav .close-btn {
        display: none;
        z-index: 2;
    }

    nav .close-btn.active {
        display: block;
    }
}


.container-carousel {
    width: 100%;
    margin-top: 0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mySlides{
    display: none;
    position: relative;
    height: 40em; /*640px*/
    overflow: hidden;
}

.mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1.375em; /*-22px*/
    padding: 1em;
    color: #F29F05;
    font-weight: bold;
    font-size: 1.125em; /*18px*/
    transition: 0.6 ease;
    border-radius: 0 0.1875em 0.1875em 0;/* 0 3px 3px 0 */
    user-select: none;
}
.next {
    right: 0;
    border-radius: 0.1875em 0 0 0.1875em; /* 3px 0 0 3px */
}

.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.elements{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
}

.quadrate{
    cursor: pointer;
    height: 4px; 
    width: 50px; 
    margin: 0 2px; 
    background-color: #717171;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 2px; 
}
.active, .quadrate:hover{
    background-color: #F29F05;
}


.buttons-section {
    background-color: #365B73;
    padding: 2.5em 0; /*40px 0*/
    text-align: center;
    margin-bottom: 0;
}


.container-button {
    max-width: 75em; /* 1200px */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.button {
    padding: 0.9375em 1.875em; /* 15px 30px*/
    margin: 0 1.25em; /*0 20px*/
    background-color: #F29F05;
    color: #DFEBF2;
    border: none;
    border-radius: 0.3125em;/*5px*/
    cursor: pointer;
    font-size: 1.375em;/*22px*/
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 23%;
    box-sizing: border-box;
}

.button a {
  text-decoration: none;
  color: #DFEBF2 ;
}

.button :hover {
    background-color: #555;
}

@media (max-width: 767px) {
  .container-button {
      flex-direction: column; /* Cambia la dirección a columna */
      align-items: center; /* Centra los elementos en columna */
  }

  .button {
      margin: 10px 0; /* Espacio entre los botones en dispositivos móviles */
      width: 37%;
  }
}

.story-section {
    text-align: center;
    margin: 0;
    padding: 3.125em 1.25em; /*50px 20px*/
}

.story-text h4 {
    margin-bottom: 1.25em; /*20px*/
}

.story-text {
    max-width: 50em;/*800px*/
    margin: 0 auto;
    font-size: 1.25em;
    line-height: 1.6;
}

.card-container {
    display: flex;
    gap: 1.25em; /* Espacio entre las tarjetas */
    justify-content: space-between;
    align-items: center;
    padding: 1.875em;/*30px*/
    padding-bottom: 5%;
  }

  .imagen-central {
    width: 100%;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 0.5em; /*8px*/ /* Bordes redondeados para las imágenes */
    object-fit: cover;
  }

 
 
  @media (max-width: 767px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%; 
        margin-bottom: 20px;
    }

    .imagen-central {
        width: 100%;
    }
}  


 /* Estilos del footer */
 footer {
    background-color: #023059;
    color: #DFEBF2;
    text-align: center;
    padding: 0;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-column {
    flex-basis: calc(25% - 2.5em); /* Ajusta según el número de columnas */
    margin: 1.25em; /*20px*/
  }
  
  .footer-column h4 {
    font-size: 1.2em;
    margin-bottom: 0.625em; /*10px*/
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 0.3125em;
  }
  
  .footer-column ul li a {
    color: #DFEBF2;
    text-decoration: none;
  }
  
  .contact-icons > li > a > i{
    margin-right: 0.4375em; /*7px*/
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25em;
  }
  
  .social-icons li {
    margin: 0 0.625em;
  }
  
  .social-icons li a {
    color: #DFEBF2;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  /* Estilos para el texto de suscripción */
  .footer-column p {
    font-size: 0.9em;
    margin-bottom: 0.625em;
  }
  