@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');


.contenedor2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header,footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background-color:#373D36;
    color:#fff;
    padding: 0 1.5%;
    margin:0;
    padding: 0;             
}

header{
    background-color:#212524;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: small;
}

.menu-items {
    margin: 0;
    margin-top: .7em;
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;
    display:flex;
    flex-direction:row;
    
}

.menu-items li {
    padding: 0.5em;
    margin: 0;
}

.menu-items a {    
    text-decoration: none;
    color: #fff;
}

.logo img{
    height:100px;
    width: 180px;
    padding-top:0.5em ;
}

.container{
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em;
    
}

.titulo{
    text-align: center;
    font-size: 2.5em;
}

.titulo span{
    color: #29B380;
}

.contenedor2{
    box-shadow: 0 0 20px 0 rgba(41, 179, 128, 0.5);
    font-size: small;
    }

.contenedor2 > * {
    padding: 1em;
}

.formulario {
    background-color: #2B2C2B;
}

.contacto{
    background: black;
}

.formulario form div{
    margin:0;
    padding: 1em;
}

.formulario form input, .formulario form button, .formulario form textarea{
    width: 100%;
    padding: 0.6em;
    border: none;
    background: none;
    border-bottom: 3px solid #29B380;
    outline: none;
    color:azure
}

.formulario form button {
    background: #29B380;
    border: 0;
    padding: 0.9em;
}

.formulario form {
    display:grid;
    grid-template-columns: 1fr 1fr ;
}

.formulario form .comentario,
.formulario form .boton{
    grid-column: 1 / 3;
}

.formulario form .boton :hover,
.formulario form .boton:focus{

    background-color:#4F7ECE ;
    color: black;
    transition: background-color 2s;
    outline: 0;
}

.contacto h2, .contacto ul, .contacto p{ 
    text-align:center;
    list-style-type:none;
}

.contacto ul li{
    padding: 0.3em;
    padding-right: 1em;
}

/*Dise単o del Footer*/
/* Estilos del footer */
footer {
    background-color: #808E89;
    color: #DFEBF2;
    text-align: center;
    padding: 0;
    
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-column{
    flex-basis: calc(25% - 40px);
    margin: 0px;
}

.footer-column h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.4em;
}

.footer-column ul li a {
    color: #DFEBF2;
    text-decoration: none;
}

.contact-icons > li > a > i{
    margin-right: 0.5em;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.social-icons li {
    margin: 0 10px;
}

/* Puntos de cortes */
/* Primero tama単o de pantalla a partir de 500 px*/
@media only screen and (min-width:500px){
    header {
        background-color: #212524;
        display: flex;
        flex-direction: row;
        font-size: medium;
        padding-right: 0;
        width: 100%;
        height: auto;
    }
    .logo img{
        height: 6em;
        width: 100px;
        padding-top:0.5em ;
}

/*+Tama単o de pantalla a partir de 755px como minimo*/
@media only screen and (min-width:755px) {
    body{
        padding: 0;
        font-size: 16px;
        
    }

    .navbar{
        font-size: 1.5em;
    }
    
    .contenedor2{
        display: grid;
        grid-template-columns: 2fr 1fr;
        font-size: medium;
        margin: 2em;
        
    }

    .contenedor2 > * {
        padding: 2em; 
    }
    .contacto h2, .contacto ul, .contacto li, .contacto p{ 
        text-align:left;
        padding-right: 2em; 
    }
    .contacto ul{
        padding-left: 0;
        padding-right: 0;
        width: 200px;
    }

    .logo img{
        height:100px;
        width: 180px;
        padding-top:0.5em ;
    }

}

/*Tercer punto de corte Tama単o de pantalla a partir de 1080px*/
@media only screen and (min-width:1080px) {
    body{
        padding: 0 ;
        font-size: large;
        background-color:#373D36;
        
    }

    .contenedor2{
        font-size: large;
    }    

    .contacto h2, .contacto ul, .contacto li, .contacto p{ 
        text-align:left;
        padding-right: 2em; 
    }

    .contacto ul{
        padding-left: 0;
        padding-right: 0;
        width: 250px;
    }
}
